/.vscode
/sample.png
processing/__pycache__/image_processor.cpython-312.pyc
ui/__pycache__/preview_panel.cpython-312.pyc
ui/__pycache__/tool_panel.cpython-312.pyc
image-editor/.vscode/launch.json
DSC06848.ARW
no.png
si.png
vene.jpg
__pycache__/prova.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
ui/__pycache__/preview_panel.cpython-312.pyc
ui/__pycache__/tool_panel.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
__pycache__/refactor.cpython-312.pyc
processing/__pycache__/file_manager.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
ui/__pycache__/crop_rotate.cpython-312.pyc
ui/__pycache__/main_window.cpython-312.pyc
ui/__pycache__/tool_panel.cpython-312.pyc
processing/__pycache__/file_manager.cpython-312.pyc
processing/__pycache__/image_processor.cpython-312.pyc
ui/__pycache__/main_window.cpython-312.pyc
ui/__pycache__/tool_panel.cpython-312.pyc
dev features/window.py
dev features/refactor.py
dev features/prova.py
crop.png
linux.png
